body {
  height: 100%;
  position: fixed;
  background: rgba(60, 102, 216, 0.267);
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.terra-grid-example {
  background-color: #eee;
  padding: 10px;
  word-break: break-word;
}
.card-component {
  background: rgba(60, 102, 216, 0.267);
}
