.root {
  padding: 5px 1px 2px 1px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightBlue;
  border-radius: 15px;
  justify-items: auto;
}
.paper {
  padding: 2px 10px 2px 10px;
}
.paperText {
  padding: 2px 2px 2px 2px;
  text-align: center;
  font-size: small;
  vertical-align: middle;
  color: grey;
}
.left {
  padding: 2px 10px 2px 10px;
}
.leftText {
  padding: 3px 3px 3px 3px;
  text-align: left;
  font-size: small;
  color: grey;
}
.right {
  padding: 2px 10px 2px 10px;
}
.rightText {
  padding: 3px 3px 3px 3px;
  font-size: small;
  text-align: right;
  color: grey;
}
.image {
  width: 50px;
  height: 50px;
}
.img {
  margin: round;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-right: 5px;
  border-radius: 40px 40px;
  margin-left: 10px;
}
.oneLineStyle {
  flex-direction: row;
  justify-content: 'flex-start';
}
